* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: large;
  margin: 0px;
  color: #627264;
}

nav {
  padding: 1%;
  display: flex;
  justify-content: space-between;
  background-color: white;
  align-items: baseline;
  gap: 10px;
  font-weight: 600;
}

nav img {
  border-radius: 50%;
  max-width: 120px;
}

nav :nth-child(2) {
  align-self: center;
  display: flex;
  gap: 30px;
}

.active {
  color: #003b6f;
}

a:hover {
  opacity: 70%;
}

iframe {
  width: 600px;
  height: 450px;
  border: 0;
}

.map-container {
  display: flex;
  justify-content: center;
  gap: 40px;
  align-items: center;
  flex-direction: row-reverse;
}

footer p {
  margin-top: 5%;
  width: 100%;
  background-color: #003b6f;
  color: white;
  text-align: center;
}
